.container{
    background-color: rgb(244, 225, 203);
    width: 50%;
    height: 100%;
    border: 2px solid purple;
    margin: 30px 25% 0px 25%;
}
h1{
    text-align: center;
}
.com{
    width: 47%;
    display: inline-block;
    margin-left: 5px;
   
}
.fruits{
    width: 47%;
    float: right;
    margin-right: 5px;
}
div{
    background-color: rgb(244, 233, 212);
    border: 2px solid grey;
  
}
.stationary{

    margin: 10px 5px 10px 5px;
    
}
@media (max-width:768px){
    .container{
        background-color: aquamarine;
        height: 100%;
        width: 60%;    
        margin: 30px 20% 10px 20%;
        overflow: hidden;

    }
    .com{
        display: block;
        width: 97%;
        margin: 10px 5px 10px 5px;
    }
    .fruits{
        float: none;
        width: 97%;
        margin: 10px 5px 10px 5px;
    }
}